body{
    background-color: #F9DD77;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav{
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 21px;
    text-decoration: none;
    font-size: 28px;
    margin-left:1%;
}

.topnav a.logo{
    padding:10px;
    margin-top:1px;
}

.topnav a.right{
    float:right;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: #FEAE00;
    color: white ;
}

main h1{
    font-size: 60px;
    margin-top: 8%;
}

form {
    width:50%;
    margin: 0 auto;
    }

label{
        font-size: 24px;
    }

input, select{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:68%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input[type=number], input[type="date"], textarea{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:65%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
}

input[type=submit] {
    margin-bottom: 20%;
    width: 45%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
    background-color: #FEAE00;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
    }

input[type=submit]:hover {
    background-color: #FE7300;
    }

textarea {
    resize: none;
}


