body{
    background-color: #F9DD77;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav{
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 21px;
    text-decoration: none;
    font-size: 28px;
    margin-left:1%;
}

.topnav a.logo{
    padding:10px;
    margin-top:1px;
}

.topnav a.right{
    float:right;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: #FEAE00;
    color: white ;
}

main h1{
    font-size: 48px;
}
