article h1{
    font-size: 28px;
    
}

article p{
    font-style: italic;
    font-size: 18px;
}

p{
    font-size: 24px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

section{
    margin-left: 20px;
    margin-top: 20px;

}